{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CRQ Reimagined">
    <meta name="author" content="Avirup Kundu || Tata Consultancy Services">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CRQ Intelligence | TCS-SCE | Index Page</title>

    <style>
        body{
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    {% comment %} Import Navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
        {% include 'crq_app/navbar.html' %}
    </nav>
    <br><hr>

    {% comment %} Page Title Starts {% endcomment %}
    <div class="container-fluid bg-info my-0 py-6 text-light">
        <h3 class="text-center text-monospace font-weight-bolder">Application to Server Mapping</h3>
    </div>
    {% comment %} Page Title Ends {% endcomment %}

    {% comment %} Filter Form Starts Here {% endcomment %}
    <div class="container">
        <h4 style="color: red;">**Use below filters to see specific mapping data</h4>
        <form method="POST" class="post-form text-center">
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center; border: 1px solid black; padding: 3px;">Application Name</th>
                        <th style="text-align: center; border: 1px solid black; padding: 3px;">Application Owner</th>
                        <th style="text-align: center; border: 1px solid black; padding: 3px;">Business Unit</th>
                        <th style="text-align: center; border: 1px solid black; padding: 3px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                            <select id="application_name", name="application_name">
                                <option value = "select">--select--</option>
                                {% if unique_application_data %}
                                    {% for data in unique_application_data %}
                                        <option value = "{{data.Application_Name}}">{{ data.Application_Name }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                            <select id="application_owner", name="application_owner">
                                <option value = "select">--select--</option>
                                {% if unique_application_owner_data %}
                                    {% for data in unique_application_owner_data %}
                                        <option value = "{{data.Application_Owner}}">{{ data.Application_Owner }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                            <select id="business_unit", name="business_unit">
                                <option value = "select">--select--</option>
                                {% if unique_business_unit_data %}
                                    {% for data in unique_business_unit_data %}
                                        <option value = "{{data.Business_Unit}}">{{ data.Business_Unit }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                            {% csrf_token %}
                            <button type="submit" class="save btn btn-info text-white"><i class="material-icons">filter_alt</i><b>  Filter</b></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% comment %} Filter Form Ends Here {% endcomment %}

    {% comment %} Table Starts Here {% endcomment %}
    {% if filter_mapping_data %}
        <hr style="color: white;">
        <div class="container">
            <form method="POST" class="post-form text-center">
                <table class="table table-sm table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">Application Name</th>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">Application Owner</th>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">FQDN</th>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">IP Address</th>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">Trust Level</th>
                            <th style="text-align: center; border: 1px solid black; padding: 3px;">Business Unit</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in filter_mapping_data %}
                            <tr>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.Application_Name }}
                                </td>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.Application_Owner }}
                                </td>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.FQDN }}
                                </td>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.IP_Address }}
                                </td>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.Trust_Level }}
                                </td>
                                <td style="text-align: center; border: 1px solid black; padding: 3px; color: white;">
                                    {{ data.Business_Unit }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    {% endif %}
    {% comment %} Table Ends Here {% endcomment %}

    {% comment %} Import footer {% endcomment %}
    <footer class="bg-dark text-center text-lg-start my-0 py-1 fixed-bottom text-light">
        {% comment %} <footer class="container-fluid bg-dark my-0 py-1 text-light"> {% endcomment %}
        {% include 'crq_app/footer.html' %}
    </footer>
</body>