{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CRQ Reimagined">
    <meta name="author" content="Avirup Kundu || Tata Consultancy Services">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CRQ Intelligence | TCS-SCE | Application Owner View</title>

    <style>
        body{
            overflow-x: hidden;
            overflow-y: auto;
        }
    </style>
</head>

<body>
    {% comment %} Import Navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
        {% include 'crq_app/navbar.html' %}
    </nav>
    <br><hr>

    {% comment %} Page Title Starts {% endcomment %}
    <div class="container-fluid bg-info my-0 py-6 text-light">
        <h3 class="text-center text-monospace font-weight-bolder">Application Owner Space</h3>
    </div>
    {% comment %} Page Title Ends {% endcomment %}

    {% comment %} Input Form Starts {% endcomment %}
    <div class="container">
        <form method="POST" class="post-form text-center">
            <table class="table table-sm table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th style="text-align: center; border: 1px solid white; padding: 3px;">Change Number</th>
                        <th style="text-align: center; border: 1px solid white; padding: 3px;">Change Title</th>
                        <th style="text-align: center; border: 1px solid white; padding: 3px;">Timeline Proposed by Project Team</th>
                        <th style="text-align: center; border: 1px solid white; padding: 3px;">Conflict</th>
                        <th style="text-align: center; border: 1px solid white; padding: 3px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% if upcoming_crq_all_data %}
                        {% for data in upcoming_crq_all_data %}
                            <tr>
                                <td style="text-align: center; border: 1px solid white; padding: 3px;">
                                    <label for="crq_number" id="crq_number" style="color: white;">{{ data.CRQ_Number }}</label>                            
                                </td>
                                <td style="text-align: center; border: 1px solid white; padding: 3px;">
                                    <label for="change_name" style="color: white;">{{ data.Change_Asset_Group }}</label>
                                </td>
                                <td style="text-align: center; border: 1px solid white; padding: 3px;">
                                    <label for="timeline_days" style="color: white;">Timeline from project team</label>
                                </td>
                                <td style="text-align: center; border: 1px solid white; padding: 3px;">
                                    {% if conflict_counter == 0 %}
                                        <label for="conflict" style="color: white;">NA</label>
                                    {% else %}
                                        <label for="conflict" style="color: white;">Yes/No</label>
                                    {% endif %}
                                </td>
                                <td style="text-align: center; border: 1px solid white; padding: 3px;">
                                    {% csrf_token %}
                                    <button type="submit" class="save btn btn-success text-white"><i class="material-icons">check</i><b>  Approve</b></button>  
                                    <button type="submit" class="save btn btn-danger text-white"><i class="material-icons">close</i><b>  Reject</b></button>  
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </form>
    </div>
    {% comment %} Input Form Ends Here {% endcomment %}

    {% comment %} Import footer {% endcomment %}
    <footer class="bg-dark text-center text-lg-start my-0 py-1 fixed-bottom text-light">
        {% comment %} <footer class="container-fluid bg-dark my-0 py-1 text-light"> {% endcomment %}
        {% include 'crq_app/footer.html' %}
    </footer>
</body>