{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CRQ Reimagined">
    <meta name="author" content="Avirup Kundu || Tata Consultancy Services">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>CRQ Intelligence | TCS-SCE | Homepage</title>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Business Unit', 'Application Count', 'Server Count'],
            {% if unique_apps_servers_count %}
            {% for data in unique_apps_servers_count %}
                ['{{ data.Business_Unit }}', {{ data.unique_applications_count }}, {{ data.unique_servers_count }}],
            {% endfor %}
            {% endif %}
        ]);

        var options = {
            backgroundColor: 'black',
            chartArea: {
                        backgroundColor: 'black'
                    },
          chart: {
            title: 'Application & Host Count W.R.T. Business Units',
          },
          bars: 'horizontal'
        };

        var chart = new google.charts.Bar(document.getElementById('app_server_wrt_bu_chart'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);

        function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Operating System', 'link', 'Win_OS', 'Unix_OS'],
            ['Windows', '/', {{ past_crq_all_data.0.Windows_Server_Count }},  {{ past_crq_all_data.2.Windows_Server_Count }}],
            ['Unix', '/', {{ past_crq_all_data.1.Windows_Server_Count }},  {{ past_crq_all_data.3.Windows_Server_Count }}]
        ]);

        var view = new google.visualization.DataView(data);
        view.setColumns([0, 2, 3, 4]);

        var options = {
            title : 'Unix DMZ Prod | Total Servers:',
            seriesType: 'bars',
            hAxis: {
                slantedText:true,
                slantedTextAngle:45,
            },
            colors: ['green','red', 'brown'],
            legend: {
            position: "top",
            textStyle: {
                fontSize: 9
            }
            },
            chartArea:{
            width:'85%',
            height:'50%'
            },
            explorer: {
            actions: ['dragToZoom', 'rightClickToReset'],
            axis: 'horizontal',
            keepInBounds: true,
            maxZoomIn: 4.0
            }
        };

        var chart = new google.visualization.ColumnChart(
            document.getElementById('past_crq_all_data_chart'));
        chart.draw(view, options);

        var selectHandler = function(e) {
            window.location = data.getValue(chart.getSelection()[0]['row'], 1 );
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
        }
    </script>

    {% comment %} Meter Starts Here {% endcomment %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    {% comment %} Meter Ends Here {% endcomment %}


    <style>
        .card-container {
            display: flex;
            gap: 20px;
          }
          .card {
            background: white;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            padding: 5px;
            text-align: center;
            width: 130px;
          }
          .card h2 {
            margin: 0;
            color: #333;
            font-size: 14px;
          }
          .card p {
            margin: 10px 0 0;
            color: #666;
            font-size: 12px;
          }
          .metric {
            font-size: 18px;
            font-weight: bold;
            color: #4CAF50;
          }
    </style>
</head>

<body>
    {% comment %} Import Navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient fixed-top">
        {% include 'crq_app/navbar.html' %}
    </nav>
    <br><hr>

    {% comment %} Page Title Starts {% endcomment %}
    <div class="container-fluid bg-info my-0 py-6 text-light">
        <h3 class="text-center text-monospace font-weight-bolder">Homepage</h3>
    </div>
    {% comment %} Page Title Ends {% endcomment %}

    {% comment %} Row 1 of Homepage starts here. {% endcomment %}
    <div class="row justify-content-md-center border border-light">
        {% comment %} Column 1 of Row 1 Starts Here {% endcomment %}
        <div class="col border border-light">
            <div id="app_server_wrt_bu_chart" style="width: 600px; height: 350px;"></div>
        </div>
        {% comment %} Column 1 of Row 1 Ends Here. {% endcomment %}

        {% comment %} Column 2 of Row 1 Starts Here {% endcomment %}
        <div class="col border border-light">
            <figure class="highcharts-figure">
                <div id="container"></div>
                <p class="highcharts-description">
                    Chart showing use of plot bands with a gauge series. The chart is
                    updated dynamically every few seconds.
                </p>
            </figure>
        </div>
        {% comment %} Column 2 of Row 1 Ends Here. {% endcomment %}
    </div>
    {% comment %} Row 1 Homepage ends here. {% endcomment %}   
    
    {% comment %} Row 2 of Homepage starts here. {% endcomment %}
    <div class="row justify-content-md-center border border-light">
        {% comment %} Column 1 of Row 2 Starts Here {% endcomment %}
        <div class="col border border-light">
            <div class="card-container">
                <div class="card">
                  <h2>Title 1</h2>
                  <p class="metric">123</p>
                  <p>Description</p>
                </div>
                <div class="card">
                  <h2>Title 2</h2>
                  <p class="metric">456</p>
                  <p>Description</p>
                </div>
                <div class="card">
                  <h2>Title 3</h2>
                  <p class="metric">789</p>
                  <p>Description</p>
                </div>
              </div>
        </div>
        {% comment %} Column 1 of Row 2 Ends Here. {% endcomment %}

        {% comment %} Column 2 of Row 2 Starts Here {% endcomment %}
        <div class="col border border-light">
            <h3 style="color: white;">Track different status (approval pending/approved/crq in progress) of CRQ by role of user.</h3>
        </div>
        {% comment %} Column 2 of Row 2 Ends Here. {% endcomment %}
    </div>
    {% comment %} Row 2 Homepage ends here. {% endcomment %}


    {% comment %} Import footer {% endcomment %}
    <footer class="bg-dark text-center text-lg-start my-0 py-1 fixed-bottom text-light">
        {% comment %} <footer class="container-fluid bg-dark my-0 py-1 text-light"> {% endcomment %}
        {% include 'crq_app/footer.html' %}
    </footer>

</body>

<script>
    Highcharts.chart('container', {

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: true,
            height: '30%'
        },
    
        title: {
            text: 'NULL'
        },
    
        pane: {
            startAngle: -90,
            endAngle: 89.9,
            background: null,
            center: ['50%', '75%'],
            size: '120%'
        },
    
        // the value axis
        yAxis: {
            min: 0,
            max: 200,
            tickPixelInterval: 72,
            tickPosition: 'inside',
            tickColor: Highcharts.defaultOptions.chart.backgroundColor || '#FFFFFF',
            tickLength: 20,
            tickWidth: 2,
            minorTickInterval: null,
            labels: {
                distance: 20,
                style: {
                    fontSize: '14px'
                }
            },
            lineWidth: 0,
            plotBands: [{
                from: 0,
                to: 130,
                color: '#55BF3B', // green
                thickness: 20,
                borderRadius: '50%'
            }, {
                from: 150,
                to: 200,
                color: '#DF5353', // red
                thickness: 20,
                borderRadius: '50%'
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D', // yellow
                thickness: 20
            }]
        },
    
        series: [{
            name: 'Speed',
            data: [80],
            tooltip: {
                valueSuffix: ' km/h'
            },
            dataLabels: {
                format: '{y} km/h',
                borderWidth: 0,
                color: (
                    Highcharts.defaultOptions.title &&
                    Highcharts.defaultOptions.title.style &&
                    Highcharts.defaultOptions.title.style.color
                ) || '#333333',
                style: {
                    fontSize: '16px'
                }
            },
            dial: {
                radius: '80%',
                backgroundColor: 'gray',
                baseWidth: 12,
                baseLength: '0%',
                rearLength: '0%'
            },
            pivot: {
                backgroundColor: 'gray',
                radius: 6
            }
    
        }]
    
    });
    
    // Add some life
    setInterval(() => {
        const chart = Highcharts.charts[0];
        if (chart && !chart.renderer.forExport) {
            const point = chart.series[0].points[0],
                inc = Math.round((Math.random() - 0.5) * 20);
    
            let newVal = point.y + inc;
            if (newVal < 0 || newVal > 200) {
                newVal = point.y - inc;
            }
    
            point.update(newVal);
        }
    
    }, 3000);
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>